<script setup>
import { Icon } from '@iconify/vue'
import WeatherIcon from '@/components/WeatherIcon.vue'
import ResumeTemp from '@/components/ResumeTemp.vue'
</script>
<script>
import axios from 'axios'
import { formatForecastWeather } from '@/views/DetailsView.utils.js'
import { getLocalIndex } from '@/plugins/i18n'

const WEATHER_API_KEY = import.meta.env.VITE_WEATHER_API_KEY
const WEATHER_URL_BASE = import.meta.env.VITE_WEATHER_URL_BASE

export default {
  data() {
    return {
      weathers: {},
      selectedDayId: '',
      city: {},
    }
  },
  computed: {
    query() {
      return this.$route.params.query
    },
    hasData() {
      return Object.entries(this.weathers).length > 0
    },
    selectedDay() {
      return this.weathers[this.selectedDayId] || {}
    },
    details() {
      return this.selectedDay?.details || []
    },
    currentLocal() {
      return getLocalIndex(this.$i18n)
    },
  },
  watch: {
    currentLocal() {
      this.getWeather()
    },
  },
  mounted() {
    this.getWeather()
  },
  methods: {
    getWeather() {
      if (!this.query) {
        return
      }
      axios.get(`${WEATHER_URL_BASE}forecast?q=${this.query}&units=metric&lang=${this.currentLocal}&appid=${WEATHER_API_KEY}`)
        .then(({data}) => {
          this.city = data.city
          this.weathers = formatForecastWeather(data.list)
          this.selectedDayId = Object.keys(this.weathers)[0]
        })
        .catch(function (error) {
          console.error(error)
        })
    },
    selectDay(id) {
      this.selectedDayId = id
    },
    getBack() {
      this.$router.push({ name: 'home', params: { locale: this.currentLocal }})
    },
  },
}
</script>

<template>
  <div
    v-if="hasData"
    class="flex flex-col w-full"
  >
    <div class="flex justify-between items-center pt-4 text-slate-100 bg-gradient-to-b from-slate-500 to-slate-600">
      <div class="flex flex-col px-4">
        <div>
          <Icon
            icon="ant-design:arrow-left-outlined"
            height="30"
            class="cursor-pointer inline-block mr-2"
            @click="getBack"
          />
          <span>{{ $t('common.back') }}</span>
        </div>
        <div class="mt-4 text-xl font-semibold">
          {{ city.name }}
        </div>
        <div class="font-semibold text-4xl my-4">
          {{ selectedDay.resume.description }}
        </div>
      </div>
      <WeatherIcon
        class="w-50 pr-8"
        :name="selectedDay.resume.icon"
      />
    </div>
    <div class="flex justify-around bg-slate-700 text-slate-200 pb-4">
      <div
        v-for="(day, i) in weathers"
        :key="i"
        class="px-2 cursor-pointer"
        :class="{
          'border-b-2': i === selectedDayId,
          'border-cyan-500': i === selectedDayId,
        }"
        @click="selectDay(i)"
      >
        <WeatherIcon
          class="w-20"
          :name="day.resume.icon"
        />
        <div>
          {{ $d(i, 'longWeekday') }}
        </div>
      </div>
    </div>
    <div class="">
      <div
        v-for="(detail) in details"
        :key="detail.dt"
        class="grid grid-cols-3 gap-y-4 gap-x-20 items-center bg-slate-200"
      >
        <span class="text-center">{{ $d(detail.dt_txt, 'hour') }}</span>
        <WeatherIcon
          class="mx-auto w-20"
          :name="detail.weather[0].icon"
        />
        <span class="text-center">{{ $n(detail.main.temp, 'oneDecimal') }} <sup>°c</sup></span>
      </div>
    </div>
    <ResumeTemp :resume="selectedDay.resume" />
  </div>
</template>
