<script setup>
import { storeToRefs } from 'pinia'
import ModalAddCity from '@/components/ModalAddCity.vue'
import { useCitiesStore } from '@/stores/cities.js'
import { getLocalIndex } from '@/plugins/i18n'
const cities = useCitiesStore()

storeToRefs(cities)
</script>
<script>
export default {
  data() {
    return {
      modalIsOpen: false,
    }
  },
}
</script>
<template>
  <main class="h-screen p-4 bg-slate-200">
    <div class="grid grid-cols-4 gap-y-4 gap-x-20 p-4 bg-slate-200">
      <router-link
        v-for="(city, i) in cities.items"
        :key="i"
        :to="{ name: 'details', params: { locale: getLocalIndex($i18n), query: city.replaceAll(' ', '') }}"
        class="cursor-pointer p-2 bg-slate-50 shadow-md rounded text-gray-500"
      >
        {{ city }}
      </router-link>
    </div>
    <div class="mt-8 text-right">
      <button
        class="bg-sky-500 text-slate-200 p-4 rounded"
        @click="modalIsOpen = true"
      >
        {{ $t('common.addCity') }}
      </button>
    </div>
    <ModalAddCity
      :isOpened="modalIsOpen"
      @close="modalIsOpen = false"
    />
  </main>
</template>
