<script setup>
import { Icon } from '@iconify/vue'
import { getLocalIndex } from '@/plugins/i18n'
import { LOCALIZATION } from '@/plugins/i18n.const.js'
</script>
<script>
export default {
  computed: {
    currentLocal() {
      return this.$i18n.locale
    },
  },
  methods: {
    onChangeLocale() {
      this.$router.push({ name: this.$route.name, params: { ...this.$route.params, locale: getLocalIndex(this.$i18n) } })
      this.$router.go(-1)
    },
  },
}
</script>
<template>
  <Icon
    icon="carbon:ibm-watson-language-translator"
    height="20"
    class="inline-block mr-2"
  />
  <select
    v-model="$i18n.locale"
    class="h-full text-black"
    @change="onChangeLocale"
  >
    <option
      v-for="(lang, i) in LOCALIZATION"
      :key="i"
      :value="lang"
      :selected="lang === currentLocal"
    >
      {{ i }}
    </option>
  </select>
</template>
