<script setup>
import { Icon } from '@iconify/vue'
import { storeToRefs } from 'pinia'
import { useCitiesStore } from '@/stores/cities.js'

const cities = useCitiesStore()
storeToRefs(cities)

defineProps({
  isOpened: {
    type: Boolean,
    default: false,
  },
})
</script>
<script>
import axios from 'axios'
import debounce from 'debounce'

const GEO_API_KEY = import.meta.env.VITE_GEO_API_KEY
const GEO_URL_BASE = import.meta.env.VITE_GEO_URL_BASE
const DEBOUNCE_DELAY = 500

export default {
  emits: ['close'],
  data() {
    return {
      query: '',
      results: [],
      debounced: null,
    }
  },
  mounted() {
    this.debounced = debounce(this.autocomplete, DEBOUNCE_DELAY)
  },
  methods: {
    autocomplete() {
      if (!this.query) {
        return
      }
      axios.get(`${GEO_URL_BASE}?text=${this.query}&type=city&lang=fr&apiKey=${GEO_API_KEY}`)
        .then(({data}) => {
          this.results = data.features
        })
        .catch(function (error) {
          console.error(error)
        })
    },
    onAutocomplete(e) {
      if (e.key === 'Enter')
      {return}

      this.debounced()
    },
    selectOption(query) {
      this.query = query
      this.results = []
    },
    validCity() {
      if (!this.query)
      {return}

      this.cities.addCity(this.query)
    },
    onClose() {
      this.$emit('close')
    },
  },
}
</script>
<template>
  <div
    v-show="isOpened"
    class="fixed top-0 left-0 w-full h-full overflow-x-hidden overflow-y-auto bg-zinc-800/50 h-screen w-screen z-10"
  >
    <div class="relative w-auto max-w-lg mx-auto flex items-center modal-dialog-centered pointer-events-none">
      <div class="w-full border-none shadow-lg relative pointer-events-auto bg-white bg-clip-padding rounded-md p-4">
        <div class="flex flex-shrink-0 items-center justify-between pb-4">
          <h5 class="text-xl font-medium leading-normal text-gray-800">
            {{ $t('common.addCity') }}
          </h5>
          <button
            type="button"
            class="box-content w-4 h-4 p-1 text-black border-none rounded-none"
            @click="onClose"
          >
            <Icon
              icon="entypo:cross"
              height="20"
            />
          </button>
        </div>
        <input
          v-model="query"
          class="appearance-none rounded-lg h-14 w-full p-4 mb-4 bg-slate-1 text-base"
          type="search"
          :placeholder="$t('input.search.placeholder')"
          @keyup="onAutocomplete"
        >
        <div
          v-if="results.length > 0"
          class="p-4 absolute w-full left-0 overflow-hidden max-h-52 bg-white rounded-b z-20"
        >
          <div
            v-for="(result, i) in results"
            :key="i"
            class="cursor-pointer py-1"
            @click="selectOption(`${result.properties.city}, ${result.properties.country}`)"
          >
            {{ result.properties.city }}, {{ result.properties.country }}
          </div>
        </div>
        <div class="text-right">
          <button
            class="bg-sky-500 text-slate-200 p-2 rounded"
            @click="validCity"
          >
            {{ $t('input.action.comfirm') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
