<script setup>
defineProps({
  resume: {
    type: Object,
    required: true,
  },
})
</script>

<template>
  <div class="shadow-md bg-slate-50 bg-slate-200 mt-8 rounded">
    <h4 class="bg-gradient-to-r from-green-700 to-lime-400 text-slate-100 p-4 rounded-t">
      {{ $t('details.resume') }}
    </h4>
    <div class="p-4">
      <div class="">
        <span class="text-green-700 mr-4">{{ $t('details.temp.average') }} :</span>
        <span class="text-slate-500">{{ $n(resume.temp, 'oneDecimal') }} <sup>°c</sup></span>
      </div>
      <div class="">
        <span class="text-green-700 mr-4">{{ $t('details.temp.min') }} :</span>
        <span class="text-slate-500">{{ $n(resume.min, 'oneDecimal') }} <sup>°c</sup></span>
      </div>
      <div class="">
        <span class="text-green-700 mr-4">{{ $t('details.temp.max') }} :</span>
        <span class="text-slate-500">{{ $n(resume.max, 'oneDecimal') }} <sup>°c</sup></span>
      </div>
    </div>
  </div>
</template>
