<script setup>
defineProps({
  name: {
    type: String,
    required: true,
  },
})
</script>

<template>
  <img
    class="text-center"
    :src="`http://openweathermap.org/img/wn/${name}@2x.png`"
  >
</template>
