@import "./base.css";

#app {
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  font-weight: normal;
}

.modal-dialog-centered {
  min-height: calc(100% - 3.5rem);
}

@media (min-width: 1024px) {

  #app {
    max-width: 720px;
    /* max-width: 1280px; */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
