<script setup>
import { RouterView } from 'vue-router'
import LocaleSwitcher from '@/components/LocaleSwitcher.vue'
</script>
<template>
  <header class="bg-slate-700 text-slate-200 p-1">
    <LocaleSwitcher />
  </header>
  <RouterView />
</template>
